@font-face {
	font-family: "Gotham-Black";
	src: url('../fonts/Gotham-Black.otf');
}
@font-face {
	font-family: "Gotham-Light";
	src: url('../fonts/Gotham-Light.otf');
}
body {
	background-color: #fff;
}
h1, h2, h3 {
	font-family: "Gotham-Black";
	letter-spacing: 0.5rem;
	color: #58595B;
}
h4, h5, h6, p {
	font-family: "Gotham-Light";
	color: #58595B;
}

.bgmain {
	height: 100vh;
	background-image: url('../img/home.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	z-index: 0;

	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.splashText {
	font-size: 6rem;
	line-height: 6rem;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	letter-spacing: 2rem;
}
.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #ffffffE6;
	z-index: 1;
}
.navigation {
	margin: 0 40px 0 60px;
}
.header-text h3 {
	transition: all 0.3s ease-in-out;
}
.header-text h3:hover {
	color: #597175;
	/*transform: scale(1.05);*/
	text-shadow: 0 0 1px #58595B;
	transition: all 0.3s ease-in-out;
}
.nav-item {
	margin-right: 40px;
}
.navbar-light .navbar-nav .nav-link {
	color: #58595B;
	transition: all 0.3s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #597175;
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
}
.search-bar input {
	font-family: FontAwesome, "Gotham-Light", sans-serif;
	font-weight: lighter;
	border-radius: 20px;
}
::-webkit-input-placeholder {
	text-align: right;
}
input:moz-placeholder {
	text-align: right;	
}

/*content*/

.content-header {
	text-align: center;
}
.content-divider hr {
	border-top: 1px solid #00000033;
	width: 20%;
}
.content-item {
	padding: 0 4rem 0 4rem;
}
.content-item-header {
	text-align: center;
}
.text-block {
	padding: 20px;
}
.icon {
	text-align: center;
	padding: 20px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
	.splashText {
		font-size: 5rem;
		letter-spacing: 1rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	.navigation {
		margin: 0 30px 0 30px;
	}
}

@media screen and (max-width: 576px) {
	.splashText {
		font-size: 3rem;
		letter-spacing: 0.5rem;
		line-height: 4rem;
	}
	.bgmain {
		height: 80vh;
	}
	h3 {
		font-size: 1rem;
	}
	.navigation {
		margin: 0 20px 0 20px;
	}
}